<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">

<form method="POST" target="_blank" th:action="@{/analysis}">

<ul>

    <li>Select Analysis Type</li>
    <ul>
        <li>
            <input name="eda" type="radio" value="exploratory_analysis" /> Exploratory Analysis
        </li>
        <li>
            <input name="plotting" type="radio" value="plot" /> Plot
        </li>
        <li>Modelling
            <ul>Regression
                <li>
                    <input name="linear_regression" type="radio" value="linear_regression" /> Linear Regression
                </li>
                <li>
                    <input name="non_linear_regression" type="radio" value="non_linear_regression" /> Non Linear Regression
                </li>
            </ul>
            <ul>Classification
                <li>
                    <input name="logistic_regression" type="radio" value="logistic_regression" /> Logistic Regression
                </li>
            </ul>
            <ul>Clustering
                <li>
                    <input name="kmeans_clustering" type="radio" value="kmeans" /> KMeans
                </li>
            </ul>
        </li>
    </ul>


    <li>Select active dataset</li>
    <p>This should be a list of loaded datasets</p>

    <div th:each="set : ${dataSets}">
        <input name="dataSetName" required th:text="${set.name}"  th:value="${set.name}" type="radio"/>
        <select name="colName" th:id="${set.name}">
            <option th:each="value : ${set.names}" th:text="${value}" th:value="${value}" ></option>
        </select>
    </div>

</ul>


<div>

</div>
    <p><input type="submit" value="Do Analysis" class="btn btn-primary" role="button"></p>
</form>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>