<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JStat Analysis</title>
</head>
<body>

<form method="POST" th:action="@{/analysis}">

<ul>
    <li>Select active dataset</li>
    <p>This should be a list of loaded datasets</p>

    <div th:each="setName: ${dataSetNames}">
        <input name="dataSetName" type="radio" th:text="${setName}"  th:value="${setName}" required/>
    </div>


    <li>
        <input name="eda" type="radio" value="Exploratory Analysis" /> Exploratory Analysis
    </li>
    <li>Plotting</li>
    <li>Modelling
        <ul>Regression
            <li>Linear Regression</li>
        </ul>
        <ul>Classification
            <li>Logistic Regression</li>
        </ul>
        <ul>Clustering
            <li>KMeans</li>
        </ul>
    </li>
</ul>


<div>

</div>
    <button>Do Analysis</button>
</form>

</body>
</html>