<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JStat EDA Analysis</title>
</head>
<body>

<form method="POST" th:action="@{/analysis-eda}" target="_blank">

    <ul>
        <li>Select active dataset</li>
        <p>This should be a list of loaded datasets</p>

        <div th:each="set : ${dataSets}">
            <input name="dataSetName" type="radio" th:text="${set.name}"  th:value="${set.name}" required/>
            <select th:id="${set.name}" name="colName">
                <option th:each="value : ${set.names}" th:value="${value}" th:text="${value}" ></option>
            </select>
        </div>

    </ul>
    <div>
    </div>
    <button>Do Analysis</button>
</form>

</body>
</html>