<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="jumbotron">
    <div class="container">

        <h4 class="display-4 text-center">Select An Analysis Type</h4>
        <!--            <div class="row row-cols-1 row-cols-md-3">-->

        <!--                <div class="col mb-4">-->
        <!--                    <div class="card">-->
        <!--                        <img src="..." class="card-img-top" alt="...">-->
        <!--                        <div class="card-body">-->
        <!--                            <h5 class="card-title">Exploratory EDAAnalysis</h5>-->
        <!--                            <p class="card-text">This is where you do descriptive statistics</p>-->
        <!--                            <a href="#" class="btn btn-primary">EDA</a>-->
        <!--                        </div>-->
        <!--                        &lt;!&ndash;                    <input name="eda" type="checkbox" value="exploratory_analysis"/>&ndash;&gt;-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <li>-->
        <!--                    <input name="plotting" type="checkbox" value="plot"/> Plot-->
        <!--                </li>-->
        <!--                <li>Modelling-->
        <!--                    <ul>Regression-->
        <!--                        <li>-->
        <!--                            <input name="linear_regression" type="checkbox" value="linear_regression"/> Linear-->
        <!--                            Regression-->
        <!--                        </li>-->
        <!--                        <li>-->
        <!--                            <input name="non_linear_regression" type="checkbox" value="non_linear_regression"/> Non-->
        <!--                            Linear Regression-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                    <ul>Classification-->
        <!--                        <li>-->
        <!--                            <input name="logistic_regression" type="checkbox" value="logistic_regression"/> Logistic-->
        <!--                            Regression-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                    <ul>Clustering-->
        <!--                        <li>-->
        <!--                            <input name="kmeans_clustering" type="checkbox" value="kmeans"/> KMeans-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </li>-->
        <!--            </div>-->

        <!--    These are the cards in row-->
        <div class="row">
            <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-4">
                        <div class="card text-white bg-dark mb-3">
                            <div class="card-header text-center">Exploratory Analysis</div>
                            <div class="card-body">
                                <p class="card-text text-right">Here you can see the results of some descriptive
                                    statistics.</p>
                                <hr class="my-4">
                                <a th:href="@{/eda_results}" class="btn btn-dark">Do Some EDA</a>
                            </div>
                        </div>
                    </div>
                <div class="col mb-4">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header text-center">Plotting</div>
                        <div class="card-body">
                            <p class="card-text text-right">This is were you can do some basic plotting.</p>
                            <hr class="my-4">
                            <a href="#" class="btn btn-dark">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header text-center">Modelling</div>
                        <div class="card-body">
                            <p class="card-text text-right">Here you'll find regression, classification and clustering
                                methods.</p>
                            <hr class="my-4">
                            <a href="#" class="btn btn-dark">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body">
                            <p class="card-text text-right">This is a longer card with supporting text below as a
                                natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <hr class="my-4">
                            <a href="#" class="btn btn-dark">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--            <p><input type="submit" value="Do EDAAnalysis" class="btn btn-secondary" role="button"></p>-->
        <!--        </form>-->

    </div>
</div>
<!--</div>-->
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>