<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jstat Software</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="jumbotron">

    <div class="container">
        <h1 class="display-4">Welcome to Jstat</h1>
        <p class="lead">What would you like to do today?</p>

        <p><a th:href="@{/analysis}" class="badge badge-dark">Do Some Analysis</a></p>

        <p class="lead">Or</p>

        <a th:href="'mailto:' + ${'someone@jstat.org'}" class="badge badge-pill badge-info">Contact Us</a>
        <a th:href="@{/about}" class="badge badge-pill badge-info">Learn About Us</a>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>