<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jstat Software</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="jumbotron">

    <div class="container">
        <h1 class="display-4">Welcome to Jstat</h1>
        <p class="lead">Jstat is a software for doing statistical analysis.</p>

        <p>Follow the instructions below:
        <li>First, Load DataSet from the designated folder.</li>
        <li>Then click on the Do Some Analysis Tab to choose an analysis type.</li>
        <li>Enjoy...</li>
        </p>

        <p class="lead">You may also:</p>

        <a th:href="'mailto:' + ${'someone@jstat.org'}" class="badge badge-pill badge-info">Contact Us</a>
        <a th:href="@{/about}" class="badge badge-pill badge-info">Learn About Us</a>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>