<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jstat Software</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Welcome to Jstat</h1>
        <p>What would you like to do today?</p>
    </div>
    <div>
        <ul>
            <li><a th:href="@{/load-dataset}">Load Dataset</a></li>
            <li><a th:href="@{/quit}">Quit</a></li>
        </ul>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>