<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">

    <form method="POST"  th:action="@{/quit}">
        <p>Confirm you want to quit JStat</p>
        <p><input type="submit" value="Confirm" class="btn btn-danger" role="button"></p>
    </form>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>