<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="jumbotron">

    <div class="container">

        <form method="POST" th:action="@{/quit}">
            <p class="lead">Do you you want to quit JStat?</p>
            <p>Just press the button below</p>
            <hr class="my-4">
            <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>